@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');
/* .material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
} */

/* tailwind owo */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mask-image-linear {
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), theme(colors.brand.dark) 30%);
	}
}

/* // Here is where the magic happens */

/* $offset: 187; */
/* $duration: 1.4s; */

.md-spinner {
	--spinner-offset: 187;
	--spinner-duration: 1.4s;
	animation: md-spinner-rotator var(--spinner-duration) linear infinite;
}

@keyframes md-spinner-rotator {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

.md-spinner__path {
	stroke-dasharray: var(--spinner-offset);
	stroke-dashoffset: 0;
	transform-origin: center;
	animation:
		md-spinner-dash var(--spinner-duration) ease-in-out infinite;
}

@keyframes md-spinner-dash {
	0% {
		stroke-dashoffset: var(--spinner-offset);
	}

	50% {
		stroke-dashoffset: calc(var(--spinner-offset)/4);
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: var(--spinner-offset);
		transform: rotate(450deg);
	}
}